[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	name = taiki-kuraishi
	email = 131664944+taiki-kuraishi@users.noreply.github.com
	signingkey = ~/.ssh/id_ed25519.pub
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = ~/.config/git/allowed_signers
[commit]
	gpgsign = true
[alias]
	a = add
	aa = add --all
	br = branch
	cl = clone
	cm = commit
	cma = commit --amend
	cman = commit --amend --no-edit
	cmanm = commit --amend --no-edit -m
	cmm = commit -m
	co = checkout
	df = diff
	f = fetch
	fpa = fetch --prune --all
	lg = log
	m = merge
	ms = merge --squash
	mo = merge origin
	mso = merge --squash origin
	p = push
	pl = pull
	po = pull origin
	r = reset
	rpo = remote prune origin
	rsh = reset --soft HEAD^
	s = status
	sh = stash
	ss = status --short
	sw = switch
	lg = log --graph --decorate --abbrev-commit --format=format:'%C(blue)%h%C(reset) - %C(green)(%ar)%C(reset)%C(yellow)%d%C(reset)\n  %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
	empty-commit = commit --allow-empty -m "empty commit"
[ghq]
	root = ~/Documents/ghq
[credential "https://github.com"]
	username = taiki-kuraishi
	helper =
	helper = "!f() { test \"$1\" = get && printf 'password=%s\\n' \"$(gh auth token --user taiki-kuraishi)\"; }; f"
[credential "https://gist.github.com"]
	username = taiki-kuraishi
	helper =
	helper = "!f() { test \"$1\" = get && printf 'password=%s\\n' \"$(gh auth token --user taiki-kuraishi)\"; }; f"
[include]
	path = ~/.gitconfig-work-orgs
[include]
	path = ~/.gitconfig.local
